@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;600;700&display=swap');

:root {
  --nav-bg: #658c9286;
  --text-color: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --nav-bg: #05101386;
    --text-color: white;
  }

  html {
    color-scheme: dark;
  }
}

@media (max-width: 768px) {
  .flex {
    row-gap: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  nav {
    padding: 1rem 2rem;
    flex-direction: row !important;
    justify-content: space-between !important;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Monospace';
}

nav {
  justify-content: space-between;
  color: var(--text-color);
  padding: .5rem 2rem;
  font-weight: 500;
  background-color: var(--nav-bg);
}
nav .title {
  font-size: x-large;
}
nav ul li {
  list-style-type: none;
  margin-left: 3rem;
  font-size: large;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.flex-full {
  flex: 1;
}
